:root {
	--width-base: 1440;
	--width-current: 1440px;
	--width-multiplier: var(--width-current) / var(--width-base);
	
	@include laptop {
		--width-current: 100vw;
	}
	
	@include mobile {
		--width-base: 360;
		--width-current: 100vmin;
	}
}

.is-hidden {
	display: none !important;
}

.is-hide {
	opacity: 0;
}

.for-desktop {
	@include devices {
		display: none !important;
	}
}

.for-tablet {
	@include desktop {
		display: none !important;
	}
	
	@include mobile {
		display: none !important;
	}
}

.for-mobile {
	@include desktop {
		display: none !important;
	}
}

.for-devices {
	@include desktop {
		display: none !important;
	}
}

.clearfix {
	overflow: auto;
	
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

/* stylelint-disable */
.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

/* stylelint-enable */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	background: $color-bg;
	scroll-behavior: smooth;
	
	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}
	
	&.is-lock-scroll,
	&.is-lock-scroll body {
		// stylelint-disable-next-line
		//position: fixed;
		overflow: hidden;
		height: 100vh;
	}
}

body {
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	color: $color-white;
	min-height: 100vh;
	
	@include mobile {
		overflow: hidden;
		position: relative;
	}
}

#app {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#app {
	position: relative;
	z-index: 1;
}

main {
	flex: 1 0 auto;
	
	@include mobile {
		overflow: hidden;
	}
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;
	
	img {
		width: 100%;
		transform: translateZ(0);
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	transform: translateZ(0);
	image-rendering: -webkit-optimize-contrast;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

#app {
	font-family: $font-Poppins;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s $easing-smooth;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transition: opacity 0.5s $easing-smooth;
}
